<div class="modal-overlay" id="keyboardRemoteHelpModal" aria-hidden="true">
  <div class="modal keyboard-remote-help-modal" role="dialog" aria-modal="true" aria-labelledby="keyboardRemoteHelpTitle">
    <div class="modal-header">
      <span class="modal-title" id="keyboardRemoteHelpTitle" data-i18n="modals.keyboardRemoteHelp.title"><span class="icon icon-md"><svg><use href="#icon-gamepad"/></svg></span> Keyboard Remote</span>
      <button type="button" class="modal-close" id="keyboardRemoteHelpModalClose" aria-label="Close" data-i18n-aria-label="common.close"><span class="icon icon-sm"><svg><use href="#icon-x"/></svg></span></button>
    </div>
    <div class="modal-body keyboard-remote-help-modal-body">
      <p data-i18n-html="modals.keyboardRemoteHelp.introHtml">Shortcuts apply while this device tab is on the <strong>Remote</strong> tab or the <strong>Dev App</strong> tab only.</p>
      <table class="keyboard-remote-help-table">
        <caption class="keyboard-remote-help-table-caption" data-i18n="modals.keyboardRemoteHelp.tableCaption">Shortcuts Mapped to Roku Remote</caption>
        <thead>
          <tr>
            <th scope="col" data-i18n="modals.keyboardRemoteHelp.colKey">Key</th>
            <th scope="col" data-i18n="modals.keyboardRemoteHelp.colAction">Remote Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="keyboard-remote-help-table-keys">
              <span class="help-kbd">↑</span><span class="help-kbd">↓</span><span class="help-kbd">←</span><span class="help-kbd">→</span>
            </td>
            <td data-i18n="modals.keyboardRemoteHelp.actionNavigate">Navigate (Up, Down, Left, Right)</td>
          </tr>
          <tr>
            <td class="keyboard-remote-help-table-keys"><span class="help-kbd">Enter</span></td>
            <td data-i18n="modals.keyboardRemoteHelp.actionSelect">Select / OK</td>
          </tr>
          <tr>
            <td class="keyboard-remote-help-table-keys"><span class="help-kbd">Backspace</span></td>
            <td data-i18n="modals.keyboardRemoteHelp.actionBack">Back</td>
          </tr>
          <tr>
            <td class="keyboard-remote-help-table-keys"><span class="help-kbd">Escape</span></td>
            <td data-i18n="modals.keyboardRemoteHelp.actionHome">Home</td>
          </tr>
          <tr>
            <td class="keyboard-remote-help-table-keys"><span class="help-kbd">Space</span></td>
            <td data-i18n="modals.keyboardRemoteHelp.actionPlayPause">Play / Pause</td>
          </tr>
          <tr>
            <td class="keyboard-remote-help-table-keys"><span class="help-kbd">j</span></td>
            <td data-i18n="modals.keyboardRemoteHelp.actionRewind">Rewind</td>
          </tr>
          <tr>
            <td class="keyboard-remote-help-table-keys"><span class="help-kbd">l</span></td>
            <td data-i18n="modals.keyboardRemoteHelp.actionForward">Forward</td>
          </tr>
          <tr>
            <td class="keyboard-remote-help-table-keys"><span class="help-kbd">*</span></td>
            <td data-i18n="modals.keyboardRemoteHelp.actionOptions">Options (Info)</td>
          </tr>
          <tr>
            <td class="keyboard-remote-help-table-keys"><span class="help-kbd">r</span></td>
            <td data-i18n="modals.keyboardRemoteHelp.actionReplay">Instant Replay</td>
          </tr>
          <tr>
            <td class="keyboard-remote-help-table-keys"><span class="help-kbd">+</span></td>
            <td data-i18n="modals.keyboardRemoteHelp.actionVolumeUp">Volume Increase</td>
          </tr>
          <tr>
            <td class="keyboard-remote-help-table-keys"><span class="help-kbd">-</span></td>
            <td data-i18n="modals.keyboardRemoteHelp.actionVolumeDown">Volume Decrease</td>
          </tr>
          <tr>
            <td class="keyboard-remote-help-table-keys"><span class="help-kbd">m</span></td>
            <td data-i18n="modals.keyboardRemoteHelp.actionMute">Mute</td>
          </tr>
          <tr>
            <td class="keyboard-remote-help-table-keys"><span class="help-kbd">Shift</span><span class="help-kbd">P</span></td>
            <td data-i18n="modals.keyboardRemoteHelp.actionPower">Power</td>
          </tr>
        </tbody>
      </table>

      <p class="keyboard-remote-help-footnote" data-i18n-html="modals.keyboardRemoteHelp.footnote">Turn Keyboard Remote off in <button type="button" class="help-settings-link" data-settings-section="general" data-settings-highlight="keyboardRemoteSettingsRow">Settings</button> if you do not want arrow keys and other mapped keys to send Roku keypresses.</p>
    </div>
  </div>
</div>
